parameters:
	ignoreErrors:
		-
			message: "#^Constructor of class Pimcore\\\\Bundle\\\\StudioBackendBundle\\\\Gdpr\\\\Provider\\\\PimcoreUserProvider has an unused parameter \\$gdprConfig\\.$#"
			count: 1
			path: src/Gdpr/Provider/PimcoreUserProvider.php

		-
			message: "#^Constructor of class Pimcore\\\\Bundle\\\\StudioBackendBundle\\\\Gdpr\\\\Provider\\\\SentMailProvider has an unused parameter \\$gdprConfig\\.$#"
			count: 1
			path: src/Gdpr/Provider/SentMailProvider.php