parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - src/Tests/*

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon