header::before {
    content: '';
    background-color: #6428B4;
}

header #logo img {
    height: 48px;
    background-color: transparent;
}

#swagger-ui.api-platform .info .title {
    color: #6428B4;
}