{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pimcorestudioapi/css/styles.css') }}">
 {% endblock stylesheets %}

{% block header %}
    <a style="text-decoration: none;" id="logo" href="#" target="_blank">
        <img alt="{{ "Pimcore's logotype"|trans([], 'admin') }}" src="{{ path('pimcore_settings_display_custom_logo') }}">
    </a>
{% endblock %}